# Required Python Dependencies
# ----------------------------
# JSON handling
orjson>=3.10.7
# Web server
sanic[ext]>=24.6.0
# Colourful logging
colorama>=0.4.6
# TOML backwards compatibility for Python 3.10
tomli>=2.0.1
# JSON Web Token handling
pyjwt>=2.9.0
# Information for /version
py-cpuinfo>=9.0.0
gitpython>=3.1.43
# GZIP + Deflate compression (here for credit, implementation is replaced)
sanic-gzip>=0.4.1
# Brotli compression
Brotli>=1.1.0
# Async file handling
aiofiles>=24.1.0
# Password hashing
bcrypt>=4.2.0
# Input validation
pydantic>=2.9.1
# Crypto
cryptography>=43.0.1
# Characterset detection speedup
faust-cchardet>=2.1.19
# Async HTTP client
aiohttp[speedups]>=3.10.5
urllib3>=2.2.3
# MongoDB driver
motor>=3.5.1
# Calendar system
icalendar>=6.0.0a0
recurring-ical-events>=3.3.0
# async caching speedup
async-lru>=2.0.4
