# Required Python Dependencies
# ----------------------------
# JSON handling
orjson>=3.9.7
# Web server
sanic[ext]>=23.6.0
# Colourful logging
colorama>=0.4.6
# TOML backwards compatibility for Python 3.10
tomli>=2.0.1
# JSON Web Token handling
pyjwt>=2.8.0
# Information for /version
py-cpuinfo>=9.0.0
gitpython>=3.1.40
# GZIP + Deflate compression (here for credit, implementation is replaced)
sanic-gzip>=0.4.1
# Brotli compression
Brotli>=1.1.0
# Async file handling
aiofiles>=23.2.1
# Password hashing
bcrypt>=4.1.2
# Input validation
pydantic>=2.5.2
# Crypto
cryptography>=41.0.7
# Characterset detection speedup
faust-cchardet>=2.1.19
# Async HTTP client
aiohttp[speedups]>=3.9.1
urllib3>=2.1.0
# MongoDB driver
motor>=3.3.2
# Calendar system
icalendar>=5.0.11
recurring-ical-events>=2.1.1
# async caching speedup
async-lru>=2.0.4
